MONGO_ROOT_USER=leafly_admin
MONGO_ROOT_PASSWORD=change_to_local_password

MONGO_APP_USER=leafly_app
MONGO_APP_PASSWORD=change_to_local_password

POSTGRES_USER=leafly_root
POSTGRES_PASSWORD=change_to_local_password
POSTGRES_DB=leafly

POSTGRES_APP_USER=leafly_app
POSTGRES_APP_PASSWORD=change_to_local_password