MONGODB_URI=mongodb://leafly_app:your_password@localhost:27017/leafly

DATABASE_URL="postgresql://leafly_root:your_password@localhost:5432/leafly?schema=public"
DATABASE_APP_URL="postgresql://leafly_app:your_password@localhost:5432/leafly?schema=public"

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_password